.about{
    padding-top: 84px;
    padding-bottom: 84px;
}

.about-title{
    font-size: 28px;
    line-height: 1.17;
    // @media screen and (min-width: 768px){
    //     font-size: px;
    // }
}

.about-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: $text-color-dark;
    margin-top: 20px;
    margin-bottom: 40px;
}
