.about{
    padding-top: 84px;
    padding-bottom: 84px;
    @media screen and (min-width: 768px){
        padding-top: 100px;
        padding-bottom: 100px;
        .container{
            display: flex;
        }
    }
    @media screen and (min-width: 1200px){
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.about-photo-list{
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}

.about-photo-item{
    width: 330px;
        &:not(:last-child){
        margin-bottom: 30px;
        @media screen and (min-width: 1200px){
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
    @media screen and (min-width: 1200px){
        width: 270px;
    }
}

.about-box{
    @media screen and (min-width: 768px){
        margin-left: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-left: 64px;
        width: 500px;
    }
}

.about-top-text{
    color: $top-text-color-dark;
}

.about-title{
    color: $top-text-color-dark;
    font-size: 40px;
    letter-spacing: 0.03em;
}

.about-bottom-text{
    color: $text-color-dark;
}

.about-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: $text-color-dark;
    margin-top: 20px;
    margin-bottom: 40px;
}

