.contacts{
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: #191C26;
    background-image: url(../image/contacts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-title{
    margin-bottom: 40px;
    color: $color-light;
    font-size: 42px;
    text-align: center;
}

.contacts-item{
    font-size: 18px;
    line-height: 1.67;
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.address{
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-map{
            fill: currentColor;
        }
    }
}

.contacts-tel{
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-tel{
            fill: currentColor;
        }
    }

}

.contacts-mail{
    color: $text-color-light;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-mail{
            fill: currentColor;
        }
    }
}

.contacts-icon-map,
.contacts-icon-tel, 
.contacts-icon-mail{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-color: transparent;
    fill: $text-color-light;
}

.contacts-top-text{
    color: $color-light;
    margin-bottom: 20px;
    margin-top: 44px;
}

.contacts-bottom-text{
    font-size: 18px;
    line-height: 1.67;
    color: $text-color-light;
}
