.contacts{
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: #191C26;
    background-image: url(../image/contacts-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px){
        background-color: #191C26;
        background-image: url(../image/contacts-bg-tab.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.contacts-title{
    margin-bottom: 40px;
    color: $color-light;
}

.contacts-box{
    @media screen and (min-width: 768px){
        display: flex;
    }
}

.contacts-list{
    @media screen and (min-width: 768px){
        max-width: 330px;
        margin-right: 30px;
    }
}

.contacts-item{
    font-size: 13px;
    line-height: 1.67;
    &:not(:last-child){
        margin-bottom: 20px;
    }
    @media screen and (min-width: 480px){
        font-size: 18px;
    }
}


.address{
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-map{
            fill: currentColor;
        }
    }
}

.contacts-tel{
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-tel{
            fill: currentColor;
        }
    }
}

.contacts-mail{
    color: $text-color-light;
    font-style: normal;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $color-accent;
        cursor: url(../../image/cursor-light.png), pointer;
        .contacts-icon-mail{
            fill: currentColor;
        }
    }
}

.contacts-icon-map,
.contacts-icon-tel, 
.contacts-icon-mail{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-color: transparent;
    fill: $text-color-light;
}

.contacts-top-text{
    color: $color-light;
    margin-bottom: 20px;
    margin-top: 44px;
    @media screen and (min-width: 768px){
        font-weight: 600;
        font-size: 11px;
        color: rgba(157, 164, 189, 0.4);
        margin-top: 0;
    }
}

.contacts-bottom-text{
    line-height: 1.67;
    color: $text-color-light;
    @media screen and (min-width: 480px){
        font-size: 18px;
    }
    @media screen and (min-width: 768px){
        color: rgb(157, 164, 189, 0.4);
    }
}
