
.header{
    padding-top: 40px;
    background-color: #191C26;
    .container {
        display: flex;
    }
}

.logo-link{
    
}

.logo-icon{
    fill: #ffffff;
}

.menu-open-btn{
    margin-left: 310px;
    background-color: transparent;
    border-color: transparent;
}

.menu-open-btn-icon{
    fill: #ffffff;
}