.header{
    width: 100%;
    padding-top: 40px;
    position: absolute;
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.logo-icon{
    fill: $color-light;
}

.menu-open-btn{
    background-color: transparent;
    border-color: transparent;
}

.menu-open-btn-icon{
    fill: $color-light;
}