
.header{
    padding-top: 40px;
    position: absolute;
    .container {
        // display: flex;
    }
}

.logo-link{
    
}

.logo-icon{
    fill: $color-light;
}

.menu-open-btn{
    // margin-left: 310px;
    background-color: transparent;
    border-color: transparent;
}

.menu-open-btn-icon{
    fill: $color-light;
}