.registration{
    background-color: #191C26;
    padding-top: 84px;
    padding-bottom: 84px;
    @media screen and (min-width: 768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 130px;
        padding-bottom: 130px;
        width: 605px;
    }
}

.registration-title{
    color: $color-light;
    margin-bottom: 44px;
}

.registration-form{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;

    }
}

.regictration-field{
    &:not(:last-child){
        margin-bottom: 44px;
    }
    @media screen and (min-width: 768px){
        &:first-child{
            margin-right: 30px;
        }
    }
}

.registration-label{
    color: $registration-text-color;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.registration-input{
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-light;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: solid 1px $registration-text-color;
    &::placeholder{
        color: $registration-text-color;
    }
    &:hover, &:focus{
        cursor: url(../../image/cursor-light.png), pointer;
        border-color: $color-light;
        &::placeholder{
            color: $color-light;
        }
    }
    @media screen and (min-width: 768px){
        width: 330px;
    }
    @media screen and (min-width: 1200px){
        width: 270px;
    }
}

.registration-textarea{
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-light;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: solid 1px $registration-text-color;
    resize: none;
    &:hover, &:focus{
        cursor: url(../../image/cursor-light.png), pointer;
        border-color: $color-light;
    }
    @media screen and (min-width: 768px){
        width: 690px;
    }
    @media screen and (min-width: 1200px){
        width: 560px;
    }
}

.registration .btn{
    @media screen and (min-width: 768px){
        margin: 0;
    }
}



