
.btn{
    min-width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 25px;
    border: solid 1px $color-accent;
    &--light{
        color: $top-text-color-dark;
        &:hover, &:focus{
            background-color: $color-accent;
            color: $color-light;
            cursor: pointer;
        }
    }
    &--dark{
        margin: 0 auto;
        display: block;
        color: $color-light;
        &:hover, &:focus{
            background-color: $color-accent;
            color: $color-light;
            cursor: url(../../image/cursor-light.png), pointer;
        }
    }
}