.top-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        height: 1px;
        width: 60px;
        background-color: currentColor;
        margin-right: 20px;
    }
}

