
$color-accent: #FF6C00;
$title-text-color-dark: #303030;
$color-light: #FFFFFF;
$text-color-dark: #555555;
$text-color-light: #9DA4BD;
$top-text-color-light: rgba(157, 164, 189, 0.6);
$top-text-color-dark: #303030; 
$bg-color-light: #F7F7F7;
$registration-text-color: rgba(157, 164, 189, 0.4);